# Dependencies
node_modules/
package-lock.json

# Database files (will be created on server)
*.db
*.db-journal

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Temporary files
tmp/
temp/